{% extends 'base.htm' %}
{% load static %}
{% block content %}
<div class="content">
    {% include 'partials/_alerts.htm' %}
    <div class="row">
        {% for site in sites %}
        <div class="card" style="width: 18rem;">
            <img src="{% static 'img/3.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ site.name }}</h5>
                <p class="card-text">{{ site.url }}</p>
                <a href="{% url 'site-details' site.id %}" class="btn btn-primary">Details</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}